<!-- Footer -->
<footer class="footer">
  <div class="footer-left">
    <div class="footer-title">SafeRoute</div>
    <div class="footer-text">
      Our vision is to help you move through<br />
      your city with awareness and agency.<br />
      Get help.<br /><br />
      ©2025 SafeRoute. All rights reserved.
    </div>
  </div>
  <div class="footer-links">
    <a href="/">Home</a>
    <a href="/map">Map</a>
    <a href="/alerts">Alerts</a>
    <a href="/resources">Resources</a>
  </div>
</footer>
 <!-- Your main JavaScript file -->
    <script src="mapView(main).js"></script>
<!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    <!-- Leaflet Control Geocoder JS -->
    <script src="https://unpkg.com/leaflet-control-geocoder@2.4.0/dist/Control.Geocoder.js"></script>
    
   
    
    
  </body>
</html>

