<%- include('partials/header') -%>
<body>

<div>

    <div>
        <h1>Resources</h1>
        <span>From reporting safety concerns  to  requesting repairs to fix broken infrastructure we  have resources to help make every route, safe.</span>
    </div>

    <div>
        <img src="/imgs/resource_img_1.jpg">
        <h2>Reporting Broken Infrastructure:</h2>
        <p>Visit your city’s official website to make a report. 
           Many US cities also have a 311 hot-line to report non-emergencies and broken infrastructure.
        </p>
        <ul>
            <li>Live in Boston: <a href>https://www.boston.gov/departments/boston-311</a></li>
            <li>Live in Philadelphia: <a href>https://iframe.publicstuff.com/#?client_id=242&request_type_id=</a></li>
        </ul>
    </div>

    <div>
        <img src="/imgs/resource_img_2.jpg">
        <h2>Accessibility Resources:</h2>
        <ul>
            <li><a href>https://www.gsa.gov/resources/resources-for-americans-with-disabilities</a></li>
            <li><a href>https://www.ada.gov/resources/?filters=</a></li>
            <li><a href>https://americawalks.org/</a></li>
            <li>Live in Boston: <a href>https://www.boston.gov/departments/disabilities-commission</a></li>
            <li>Live in Philadelphia: <a href>https://www.phila.gov/departments/office-for-people-with-disabilities/</a></li>
        </ul>
    </div>

    <div>
        <h4>Ever felt unsafe walking home at night?</h4>
        <p>Check out these tips: <a href>https://www.saferwatchapp.com/blog/safety-tips-when-walking-alone-at-night/</a></p>
    </div>
</div>

<%- include('partials/footer') -%>
</body>
