<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/resources.css" />

<%- include('partials/header') -%>

<div class="main-container">

    <div class="page-title-container">
        <h1>Resources</h1>
        <span class="resource-description">From reporting safety concerns  to  requesting repairs to fix broken infrastructure we  have resources to help make every route, safe.</span>
    </div>

    <div class="res-container">
        <div class="res-container-1 line-breaks">
            <!-- <img src="/imgs/resource_img_1.jpg"> -->
            <div class="image-wrapper">
                <img src="/imgs/resource_img_1.jpg" alt="">
              </div>
            <h2>Reporting Broken Infrastructure:</h2>
            <p>Visit your city’s official website to make a report. 
            Many US cities also have a 311 hot-line to report non-emergencies and broken infrastructure.
            </p>
            <ul>
                <li>Select city for more:</li>
                <li><a href=https://www.boston.gov/departments/boston-311>Boston, MA</a></li>
                <li><a href=https://iframe.publicstuff.com/#?client_id=242&request_type_id=>Philadelphia, PA</a></li>
            </ul>
        </div>
    
        <div class="res-container-2 line-breaks">
            <!-- <img src="/imgs/resource_img_2.jpg"> -->
            <div class="image-wrapper">
                <img src="/imgs/resource_img_2.jpg" alt="">
              </div>
            <h2>Accessibility Resources:</h2>
            <ul>
                <li><a href=https://www.gsa.gov/resources/resources-for-americans-with-disabilities>GSA.gov</a></li>
                <li><a href=https://www.ada.gov/resources/?filters=>ADA.gov</a></li>
                <li><a href=https://americawalks.org/>America Walks</a></li>
                <li>Select city for more:</li>
                <li><a href=https://www.boston.gov/departments/disabilities-commission>Boston, MA</a></li>
                <li><a href=https://www.phila.gov/departments/office-for-people-with-disabilities>Philadelphia, PA</a></li>
            </ul>
        </div>
    </div>

    <div class="tips">
        <h4>Ever felt unsafe walking home at night?</h4>
        <p>Check out these tips: <a href=https://www.saferwatchapp.com/blog/safety-tips-when-walking-alone-at-night/>Safer Watch App</a></p>
    </div>
</div>

<%- include('partials/footer') -%>

