<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/sign-in-up.css" />

<%- include('partials/header') -%>

    <main class="container sign-main">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <section class="sign-intro">
                  <h2 class="sign-account">Sign Up to Create Alerts <i class="fa-solid fa-bell fa-shake fa-sm" style="color: #e72222;"></i></h2>
                </section> 
                <form class="sign-page-form" action="/signup" method="POST" novalidate >
                    <div class="mb-3 sign-page-div">
                      <span class="sign-welcome">Welcome!</span>
                      <label for="email" class="form-label">Email:</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="user@email.com" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    </div>
                    <div class="mb-3 sign-page-div">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required>
                    </div>
                    <div class="mb-3 sign-page-div">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required>
                    </div>
                    <div class="mb-3 sign-page-div">
                      <label for="password" class="form-label">Password:</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="At least 8 characters" required>
                    </div>
                    <div class="mb-3 sign-page-div">
                      <label for="confirmPassword" class="form-label">Confirm Password:</label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Re-enter password" required>
                    </div>
                    <div class="mb-3 sign-page-div">
                      <label for="zipCode" class="form-label sign-zip-code">Zip Code:</label>
                      <input type="text" class="form-control sign-zip-code" pattern="[0-9]{5}" title="Please enter a 5-digit zip code" id="zipCode" name="zipCode" placeholder="5-digit zip code" required>
                    </div>
                    <button class="sign-button" type="submit" class="btn btn-primary">Sign Up</button>
                    <p class="sign-end">Already have an account? <a class="sign-link" href="/signin">Sign In.</a></p>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>