<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/sign-in-up.css" />

<%- include('partials/header') -%>

<main class="container sign-main">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <section class="sign-intro">
        <h2 class="sign-account">Sign In to your Account <i class="fa-solid fa-address-card fa-fade fa-sm" style="color: #504f53;"></i></h2> 
      </section> 
      <form class="sign-page-form" action="/signin" method="POST" novalidate>
        <span class="sign-welcome">Welcome back!</span>
        <div class="mb-3 sign-page-div">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email address" required>
        </div>  
        <div class="mb-3 sign-page-div">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
        <button class="sign-button" type="submit" class="btn btn-primary">Sign In</button>
        <p class="sign-end">Don't have an account? <a class="sign-link" href="/signup">Sign Up.</a></p>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>