* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

svg {
    width: 1.25rem;
}

.border-b-1 {
    border-bottom: 1px solid #000;
}

.border-t-1 {
    border-top: 1px solid #000;
}

.bradius-8 {
    border-radius: 0.5rem;
}

.bg-gray {
    background-color: #93bff5;
}

.center {
    text-align: center;
}

.downvote-caret-btn {
    border: none;
    background: none;
}

.font-bold {
    font-weight: bold;
}

.flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-2 {
    display: flex;
    align-items: center;
}

.flex-3 {
    display: flex;
    flex-direction: column;
}

.flex-4 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
    color: #173c6c;
    font-size: large;
    margin-top: 4rem;
}

.flex-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-6 {
    display: flex;
    flex-wrap: wrap;
}

.green {
    color: #227C10;
}

.img-fluid {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top center;
}

.lh-0 {
    line-height: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.list-none {
    list-style-type: none;
}

.mbottom-3 {
    margin-bottom: 3rem;
}

.mbottom-28 {
    margin-bottom: 1.75rem;
}

.mright-8 {
    margin-right: 0.5rem;
}

.mtop-12 {
    margin-top: 0.75rem;
}

.navy-blue {
    color: #486284;
}

.post-category-container {
    border-bottom: 1px solid #000;
    padding: 0;
}

.post-category-container li {
    text-align: center;
    width: 100%;
}

.post-category-container li:hover {
    border-bottom: 4px solid #000;
}

.post-container li {
    width: 22%;
    margin: 0 1.5%;
}

.ptop-12 {
    padding-top: 0.75rem;
}

.red {
    color: #D3171F;
}

.searchbar {
    /* fix later it's in the wrong div */
    display: flex;
    background-color: #ebe6f0;
    box-shadow: none;
    border-radius: 1.5rem;
    max-width: 35%;
}

.upvote-caret-btn {
    border: none;
    background: none;
}

.view-link {
    text-decoration: none;
    color: #000;
}

.view-now-btn {
    border: none;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #000;
}

.view-now-btn:hover {
    background-color: #eaeaea;
}


.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  background-color: #2a2f3b;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #323741;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}

/* margin to separate posts top to bottom*/
.view{
    margin-bottom: 10rem;
}