
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #e8eef5;
  color:#1f1f1f;
  margin: 0;
  padding: 0;
}
.main{
  display:flex;
  align-items:center;
  /* margin-top:0; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  
}
.postViewContainer{
  margin:2rem;
  background-color:#fff;
  /* display: flex; */
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  border-radius:5px;
}
.postView{
  margin: 0 auto;
  padding:40px;
  display: flex;
  flex-direction:column ;
  align-items: center;
}
h2{
  text-align:center;
}

.bookendImgContainer{
  max-width:1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bookendContainer{
  display: flex; 
  justify-content: center; 
}
.bookendOne{
  flex: 3;
}
.bookendTwo{
  flex: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.postImage{
  text-align:center;
}
.postImage img{
  max-width:875px;
  max-height:675px;
  border-radius:15px;
  margin-bottom: 1rem;
}
.mapFeedButton{
  margin-top:30px;
  gap:10%;
  display:flex;
  justify-content:center;
  text-align:center;
  width:100%;
  align-items:center;
}
.mapFeedButton a{
  align-items:center;
  text-align:center;

}
.postDeets{
  text-align:center;
}
.commentButton{
  margin-top:10px;
}
.downvote,.upvote{
  margin-left: .5rem;
  align-items: center;
  width: 100px;
}
.postedAt{
  margin-top: 0%;
}
.active-upvote {
  color: white;
  background-color: green; 
}

.active-downvote {
  color: white;
  background-color: red;
}
